/* ==========================================================================
   Mode7 skin
   ========================================================================== */

@font-face {
  font-family: Mode7;
  src: url('MODE7GX3.TTF'), url('MODE7GX3.EOT');  /* .EOT is for IE */
}
 
/* Colors */
.colour0, .black,   a.black,   .black a    {color: #000000;}
.colour1, .red,     a.red,     .red  a       {color: #ff0000;}
.colour2, .green,   a.green,   .green  a   {color: #00ff00;}
.colour3, .yellow,  a.yellow,  .yellow a  {color: #ffff00;}
.colour4, .blue,    a.blue,    .blue a      {color: #0000ff;}
.colour5, .magenta, a.magenta, .magenta a{color: #ff00ff;}
.colour6, .cyan,    a.cyan,    .cyan  a     {color: #00ffff;}
.colour7, .white,   a.white,   .white  a   {color: #ffffff;}

.colour0bg, .blackbg     {background-color: #000000;}
.colour1bg, .redbg         {background-color: #ff0000;}
.colour2bg, .greenbg     {background-color: #00ff00;}
.colour3bg, .yellowbg   {background-color: #ffff00;}
.colour4bg, .bluebg       {background-color: #0000ff;}
.colour5bg, .magentabg {background-color: #ff00ff;}
.colour6bg, .cyanbg       {background-color: #00ffff;}
.colour7bg, .whitebg     {background-color: #ffffff;}

$background-color: #000000 !default;
$text-color: #ffffff !default;
$primary-color: #00ff00 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #0000ff !default;
$code-background-color-dark: mix(#0000ff, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix($primary-color, #0000ff, 10%) !default;
$link-color: $primary-color !default;
$link-color-hover: #ff0000 !default;
$link-color-visited: #ffff00 !default;
// $masthead-link-color: $text-color !default;
$masthead-link-color: #00ffff !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
// $navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
$navicon-link-color-hover: #0000ff !default;


$serif:  Mode7, monospace, courier, fixed;
$sans-serif:  Mode7, monospace, courier, fixed;
$monospace:  Mode7, monospace, courier, fixed;
$helvetica:  Mode7, monospace, courier, fixed;
// $global-font-family:  Mode7, monospace, courier, fixed;
// $header-font-family:  Mode7, monospace, courier, fixed;
// $caption-font-family:  Mode7, monospace, courier, fixed;

/* notices */
$notice-background-mix: 90% !default;
$code-notice-background-mix: 95% !default;


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffff00;
  background: #0000ff;
}

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}